.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 90px);
    position: relative;
    margin: 20px;
    .loginContainer {
        background-color: #E5E5CB;
        padding: 24px 20px;
        border-radius: 10px;
        display: flex;
        gap: 20px;
        flex-direction: column;
        width: 400px;
        max-width: 100%;
        .loginTitle {
            font-size: 20px;
            font-weight: bold;
            color: #050401;
        }
        .loginForm {
            display: flex;
            flex-direction: column;
            label {
                font-size: 14px;
                color: rgb(5, 4, 1, .7);

            }
            input {
                background-color: white;
                border: none;
                padding: 10px 16px;
                border-radius: 6px;
                margin-bottom: 16px;
                &:focus {
                    outline: none;
                    box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 16px;
                  }
            }
            .loginButton {
                border: none;
                background-color: #3C2A21;
                color: white;
                padding: 8px 16px;
                border-radius: 6px;
                align-self: flex-start;
                cursor: pointer;
                font-weight: 500;
                margin-top: 10px;
                &:hover {
                    background-color: #543322;
                }
                &:disabled {
                    cursor: not-allowed;
                    background-color: #3C2A21;
                }
            }
        }
        .loginRegisterButton {
            position: absolute;
            top: 20px;
            right: 20px;
            border: none;
            background-color: rgb(5, 4, 1, .5);
            color: white;
            padding: 8px 16px;
            border-radius: 6px;
            cursor: pointer;
            font-weight: 500;
            &:hover {
                background-color: rgb(5, 4, 1);
                transition: all 0.3s ease;
            }
            @media screen and (max-width: 480px) {
                top: 20px;
                left: 50%;
                transform: translateX(-50%);
                width: max-content;
            }
        }
    }
}