.imgTagContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 20px;
    .wrapper {
      background-color: #e5e5cb;
      padding: 20px;
      display: flex;
      flex-direction: column;
      max-width: 1024px;
      gap: 20px;
      h1 {
        font-size: 24px;
        color: #1a120b;
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        .loader {
          border: 8px solid white; /* Light gray border */
          border-top: 8px solid #3c2a21; /* Blue border */
          border-radius: 50%; /* Rounded shape */
          width: 60px; /* Width of the loader */
          height: 60px; /* Height of the loader */
          animation: spin 1.5s linear infinite; /* Animation */
          margin: 0 auto; /* Center horizontally */
        }
  
        @keyframes spin {
          0% {
            transform: rotate(0deg); /* Initial rotation */
          }
          100% {
            transform: rotate(360deg); /* Final rotation after 1.5 seconds */
          }
        }
  
        .imageInput {
          display: flex;
          gap: 10px;
          .inputImage {
            padding: 10px;
            background-color: white;
            font-size: 24px;
            color: #1a120b;
          }
          input[type='file'] {
            width: 100%;
            padding: 10px;
            border: none;
            background-color: white;
            color: #1a120b;
            &:focus {
              outline: none;
            }
            &::-webkit-file-upload-button {
              /* Custom styles for WebKit browsers (Chrome, Safari) */
              background-color: inherit;
              border: none;
              display: none;
            }
          }
        }
        button {
          justify-self: normal;
          padding: 10px 20px;
          background-color: #3c2a21;
          color: #e5e5cb;
          border: none;
          transition: all 0.3s ease;
          cursor: pointer;
          &:hover {
            background-color: #1a120b;
          }
        }
      }
      .tagError {
        padding: 10px 20px;
        color: tomato;
        background-color: rgb(255, 232, 228);
        border: 1px solid tomato;
        border-radius: 100px;
      }
      .tagsContainer {
        background-color: white;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        h2 {
          font-size: 16px;
          color: #3c2a21;
        }
        ul {
          display: flex;
          flex-wrap: wrap;
          list-style: none;
          gap: 10px;
          padding-left: 10px;
          li {
            background-color: #e5e5cb;
            padding: 6px 10px;
            border-radius: 100px;
            color: #3c2a21;
          }
        }
      }
    }
  }
  