.footer {
    background-color: #1A120B;
    padding: 50px 100px;
    display: flex;
    color: #E5E5CB;
    justify-content: center;
    align-items: center;
    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-align: center;
        .footer-text {

            @media screen and (max-width: 500px) {
                font-size: 14px;
            }
        }
        .footer-links {
            display: flex;
            justify-content: center;
            @media screen and (max-width: 500px) {
                flex-direction: column;
                gap: 16px;
            }
            gap: 50px;
            a {
                text-decoration: none;
                color: rgb(229, 229, 203, .4);
                transition: all 0.3s ease;
                &:hover {
                    color: #E5E5CB;
                }
            }
        }
    }
}